{% extends "admin/change_list.html" %}
{% load static %}
{% block extrahead %}{{ block.super }}
  {# Select2 assets so the autocomplete filters work on the changelist.       #}
  {# Load order matches Django's AutocompleteSelect widget: jQuery, select2,  #}
  {# then jquery.init (noConflict → django.jQuery), then our init script.     #}
  <link rel="stylesheet" href="{% static 'admin/css/vendor/select2/select2.css' %}">
  <link rel="stylesheet" href="{% static 'admin/css/autocomplete.css' %}">
  <script src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
  <script src="{% static 'admin/js/vendor/select2/select2.full.js' %}"></script>
  <script src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script src="{% static 'core/autocomplete_filter.js' %}"></script>
{% endblock %}
